public/app/partials/requests/change_engineer_modal.html
<div id="change_engineer_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false" class="modal fade"><div class="modal-dialog modal-sm"><div class="modal-content"><div class="modal-header"><button data-dismiss="modal" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><h4>Изменить инженера заявки {{current.request_id}}</h4></div><div class="modal-body"><table class="table table-condensed table-striped"><tr><th>Назначена на</th><th>Изменить на</th></tr><tr><td>{{current.assigned_to || 'Никого'}}</td><td><select ng-model="current.reassigned_to" ng-options="user.username for user in current.engineer_list track by user.id" class="form-control"></select></td></tr></table></div><div class="modal-footer"><button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button><button type="button" ng-click="applyNewEngineer()" class="btn btn-primary">Сохранить</button></div></div></div></div>

public/app/partials/requests/change_engineer_modal.jade
div#change_engineer_modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="false")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(data-dismiss="modal", type="button")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4 Изменить инженера заявки {{current.request_id}}
            .modal-body
                table.table.table-condensed.table-striped
                    tr
                        th Назначена на
                        th Изменить на
                    tr
                        td {{current.assigned_to || 'Никого'}}
                        td
                            select.form-control(ng-model="current.reassigned_to", ng-options="user.username for user in current.engineer_list track by user.id")
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Закрыть
                button.btn.btn-primary(type="button", ng-click="applyNewEngineer()") Сохранить
