public/app/partials/requests/edit_request.html
<div id="edit_request_wrapper" class="well"><form name="editRequestForm" class="form-horizontal"><fieldset><legend>Форма редактирования заявки</legend><table class="table edit_request_table"><tr><td><label for="region">Регион</label><select name="region" ng-model="current.region" ng-options="value.title for value in regions track by value.id" ng-change="filterClients(true)" class="form-control"></select></td><td><label for="client_request_id">Номер заявки клиента</label><input name="client_request_id" placeholder="Введите номер заявки клиента" ng-model="current.client_request_id" ng-change="changeToInt(current.client_request_id)" class="form-control"/></td><td class="info"><label>Имя инженера</label><p>{{request_data.username || empty_value}}</p></td></tr><tr><td><label for="client">Клиент</label><select name="client" ng-model="current.client" ng-options="value.title for value in clients track by value.id" ng-change="filterLocations(true)" class="form-control"></select></td><td><label for="limit_date">Срок выполнения</label><div id="datetimepicker" class="input-group date"><input type="text" data-date-format="YYYY-MM-DD HH:mm" ng-model="current.limit_date" class="form-control"/><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div><script>$(function () {
    $("#datetimepicker").datetimepicker({language: "ru", useCurrent: true}).on("dp.change", function (e) {
        var $scope = angular.element("#edit_request_wrapper").scope().$parent,
                time = $(this).find("input").first().val();
                
        $scope.$apply(function ($scope) {
            $scope.current.limit_date = time;
        });
    });
});</script></td><td class="info"><label>Время начала работ</label><p>{{request_data.start_date || empty_value}}</p></td></tr><tr><td><label for="address">Адрес</label><select name="address" ng-model="current.location" ng-options="value.address for value in locations track by value.id" class="form-control"></select></td><td><label for="description">Готовое описание</label><select name="description" ng-model="current.description" ng-options="value.title for value in request_descriptions track by value.id" class="form-control"></select></td><td class="info"><label>Время окончания работ</label><p>{{request_data.finish_date || empty_value}}</p></td></tr><tr><td><label for="type">Тип заявки</label><select name="type" ng-model="current.type" ng-options="value.title for value in request_types track by value.id" class="form-control"></select></td><td rowspan="2"><label for="free_description">Свободное описание</label><textarea placeholder="Введите описание заявки в свободной форме" name="free_description" ng-model="current.free_description" class="form-control request_description"></textarea></td><td class="info"><label>Статус объекта после работ</label><p>{{request_data.finished_state_title || empty_value}}</p></td></tr><tr><td><label for="type">Статус заявки</label><select name="type" ng-model="current.state" ng-options="value.title for value in request_states track by value.id" class="form-control"></select></td><td class="info"><p></p></td></tr></table></fieldset></form></div>

public/app/partials/requests/edit_request.jade
.well#edit_request_wrapper
    form.form-horizontal(name="editRequestForm")
        fieldset
            legend Форма редактирования заявки
            table.table.edit_request_table
                tr
                    td
                        label(for="region") Регион
                        select.form-control(name="region",ng-model="current.region", ng-options="value.title for value in regions track by value.id", ng-change="filterClients(true)")
                    td
                        label(for="client_request_id") Номер заявки клиента
                        input.form-control(name="client_request_id",placeholder="Введите номер заявки клиента",ng-model="current.client_request_id", ng-change="changeToInt(current.client_request_id)")
                    td.info
                        label Имя инженера
                        p {{request_data.username || empty_value}}
                tr
                    td
                        label(for="client") Клиент
                        select.form-control(name="client",ng-model="current.client", ng-options="value.title for value in clients track by value.id", ng-change="filterLocations(true)")
                    td
                        label(for="limit_date") Срок выполнения
                        div.input-group.date#datetimepicker
                            input(type="text",data-date-format="YYYY-MM-DD HH:mm", ng-model="current.limit_date").form-control
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        script.
                            $(function () {
                                $("#datetimepicker").datetimepicker({language: "ru", useCurrent: true}).on("dp.change", function (e) {
                                    var $scope = angular.element("#edit_request_wrapper").scope().$parent,
                                            time = $(this).find("input").first().val();

                                    $scope.$apply(function ($scope) {
                                        $scope.current.limit_date = time;
                                    });
                                });
                            });
                    td.info
                        label Время начала работ
                        p {{request_data.start_date || empty_value}}
                tr
                    td
                        label(for="address") Адрес
                        select.form-control(name="address",ng-model="current.location", ng-options="value.address for value in locations track by value.id")
                    td
                        label(for="description") Готовое описание
                        select.form-control(name="description",ng-model="current.description", ng-options="value.title for value in request_descriptions track by value.id")
                    td.info
                        label Время окончания работ
                        p {{request_data.finish_date || empty_value}}
                tr
                    td
                        label(for="type") Тип заявки
                        select.form-control(name="type",ng-model="current.type", ng-options="value.title for value in request_types track by value.id")
                    td(rowspan="2")
                        label(for="free_description") Свободное описание
                        textarea.form-control.request_description(placeholder="Введите описание заявки в свободной форме", name="free_description", ng-model="current.free_description")
                    td.info
                        label Статус объекта после работ
                        p {{request_data.finished_state_title || empty_value}}
                tr
                    td
                        label(for="type") Статус заявки
                        select.form-control(name="type",ng-model="current.state", ng-options="value.title for value in request_states track by value.id")
                    td.info
                        p
