public/app/partials/requests/request_modal.html
<div id="request_modal" tabindex="-1" role="dialog" aria-labelledby="RequestModal" aria-hidden="false" class="modal fade"><div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-header"><button data-dismiss="modal" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><h4>Заявка # {{current.request_id}}; &nbsp; Дата регистрации: {{current.registration_date}}</h4></div><div ng-include="'/public/app/partials/requests/edit_request.html'" class="modal-body"></div><div class="modal-footer"><button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button><button type="button" ng-click="saveRequest()" class="btn btn-primary">Сохранить</button></div></div></div></div>

public/app/partials/requests/request_modal.jade
div#request_modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="RequestModal", aria-hidden="false")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(data-dismiss="modal", type="button")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4 Заявка # {{current.request_id}}; &nbsp; Дата регистрации: {{current.registration_date}}
            .modal-body(ng-include="'/public/app/partials/requests/edit_request.html'")
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Закрыть
                button.btn.btn-primary(type="button", ng-click="saveRequest()") Сохранить
