public/app/partials/account/navbar-login.html
<div ng-controller="navBarLoginCtrl" class="navbar-right"><form ng-hide="identity.isAuthenticated()" class="navbar-form"><div class="form-group"><input placeholder="Логин" ng-model="username" class="form-control"/></div><div class="form-group"><input type="password" placeholder="Пароль" ng-model="password" class="form-control"/></div><button ng-click="signin(username, password)" class="btn btn-primary">Войти</button></form><ul ng-show="identity.isAuthenticated()" class="nav navbar-nav navbar-right"><li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">{{identity.currentUser.username}}<b class="caret"></b></a><ul class="dropdown-menu"><li><a href="" ng-click="signout()">Выйти</a></li></ul></li></ul></div>

public/app/partials/account/navbar-login.jade
.navbar-right(ng-controller="navBarLoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Логин", ng-model="username")
        .form-group
            input.form-control(type="password", placeholder="Пароль", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username, password)") Войти

    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.username}}
                b.caret
            ul.dropdown-menu
                li
                    a(href="", ng-click="signout()") Выйти
