public/app/partials/catalog/catalog_list.jade
.well(ng-if="identity.currentUser")
    legend Справочники
    .row
        .col-md-4
            .panel.panel-primary
                .panel-heading.text-center Справочники
                .panel-body
                    table.table.table-hover.table-striped.catalog_list
                        tr(ng-repeat="(key, value) in catalogs")
                            td(ng-click="showCatalogData(key, value.title)", ng-class="{info : activeValue == key}") {{value.title}}
        .col-md-8
            .panel.panel-primary
                .panel-heading.text-center Содержание справочника &nbsp;
                    span(ng-show="catalog_title") < {{catalog_title}} >
                .panel-body
                    table.table.table-hover.table-striped.catalog_data_table.table-condensed(ng-show="catalog_name != null")
                        tr
                            th(ng-repeat="field in catalog_fields") {{field}}
                            th.actions Действия
                        tr(ng-repeat="(key, value) in catalog_data", id="catalog_data_row_{{value.id}}")
                            td(ng-repeat="field in catalog_fields", data="{{field}}")
                                span.data_container(ng-init="init(dependencies[catalog_name][field][value[field]], {key : key, field : field})", ng-if="dependencies[catalog_name][field]") {{dependencies[catalog_name][field][value[field]].title || ''}}
                                span.data_container(ng-if="!dependencies[catalog_name][field] && !dependencies[catalog_name].hide[field]") {{value[field]}}
                                select.form-control.hidden.data_input(ng-if="dependencies[catalog_name][field]", ng-model="catalog_data[key][field]", ng-options="k as v.title for (k, v) in dependencies[catalog_name][field]")
                                    option(value="") Выберите значение
                                input.form-control.hidden.data_input(ng-if="!dependencies[catalog_name][field][value[field]]", data="{{field}}" class="form-control", ng-model="catalog_data[key][field]", ng-attr-type="{{!!dependencies[catalog_name].hide[field] && 'password' || text}}")
                            td.actions
                                button.btn.btn-default.glyphicon.glyphicon-pencil(ng-click="editRow(value.id, key)",title="Редактировать",data="edit_btn")
                                button.btn.btn-default.glyphicon.glyphicon-ban-circle(ng-click="cancelAmend(value.id, key)", title="Отмена",data="cancel_btn").hidden
                                button.btn.btn-default.glyphicon.glyphicon-ok(ng-click="applyAmend(value.id, key)", title="Принять",data="apply_btn").hidden
                                button.btn.btn-default.glyphicon.glyphicon-remove(ng-click="deleteRecord(value.id)", title="Удалить запись",data="delete_btn")
                        tr.new_catalog_row.hidden
                            td(ng-repeat="field in catalog_fields")
                                select.form-control.data_input(ng-if="dependencies[catalog_name][field]", ng-model="temp_add_row[field]", ng-hide="field == 'id'", ng-options="k as v.title for (k, v) in dependencies[catalog_name][field]")
                                    option(value="") Выберите значение
                                input(type="text", data="{{field}}", class="form-control", ng-model="temp_add_row[field]", ng-hide="field == 'id'", ng-if="!dependencies[catalog_name][field]")
                            td.actions
                                button.btn.btn-default.glyphicon.glyphicon-ban-circle(ng-click="cancelAdding()", title="Отмена",data="cancel_btn")
                                button.btn.btn-default.glyphicon.glyphicon-ok(ng-click="applyAdding()", title="Принять",data="apply_btn")
                    button.btn.btn-default.btn-success(ng-show="catalog_name != null", ng-click="addRecord()") Добавить

public/app/partials/catalog/catalog_list.html
<div ng-if="identity.currentUser" class="well"><legend>Справочники</legend><div class="row"><div class="col-md-4"><div class="panel panel-primary"><div class="panel-heading text-center">Справочники</div><div class="panel-body"><table class="table table-hover table-striped catalog_list"><tr ng-repeat="(key, value) in catalogs"><td ng-click="showCatalogData(key, value.title)" ng-class="{info : activeValue == key}">{{value.title}}</td></tr></table></div></div></div><div class="col-md-8"><div class="panel panel-primary"><div class="panel-heading text-center">Содержание справочника &nbsp;<span ng-show="catalog_title">< {{catalog_title}} ></span></div><div class="panel-body"><table ng-show="catalog_name != null" class="table table-hover table-striped catalog_data_table table-condensed"><tr><th ng-repeat="field in catalog_fields">{{field}}</th><th class="actions">Действия</th></tr><tr ng-repeat="(key, value) in catalog_data" id="catalog_data_row_{{value.id}}"><td ng-repeat="field in catalog_fields" data="{{field}}"><span ng-init="init(dependencies[catalog_name][field][value[field]], {key : key, field : field})" ng-if="dependencies[catalog_name][field]" class="data_container">{{dependencies[catalog_name][field][value[field]].title || ''}}</span><span ng-if="!dependencies[catalog_name][field] &amp;&amp; !dependencies[catalog_name].hide[field]" class="data_container">{{value[field]}}</span><select ng-if="dependencies[catalog_name][field]" ng-model="catalog_data[key][field]" ng-options="k as v.title for (k, v) in dependencies[catalog_name][field]" class="form-control hidden data_input"><option value="">Выберите значение</option></select><input ng-if="!dependencies[catalog_name][field][value[field]]" data="{{field}}" ng-model="catalog_data[key][field]" ng-attr-type="{{!!dependencies[catalog_name].hide[field] &amp;&amp; 'password' || text}}" class="form-control hidden data_input form-control"/></td><td class="actions"><button ng-click="editRow(value.id, key)" title="Редактировать" data="edit_btn" class="btn btn-default glyphicon glyphicon-pencil"></button><button ng-click="cancelAmend(value.id, key)" title="Отмена" data="cancel_btn" class="btn btn-default glyphicon glyphicon-ban-circle hidden"></button><button ng-click="applyAmend(value.id, key)" title="Принять" data="apply_btn" class="btn btn-default glyphicon glyphicon-ok hidden"></button><button ng-click="deleteRecord(value.id)" title="Удалить запись" data="delete_btn" class="btn btn-default glyphicon glyphicon-remove"></button></td></tr><tr class="new_catalog_row hidden"><td ng-repeat="field in catalog_fields"><select ng-if="dependencies[catalog_name][field]" ng-model="temp_add_row[field]" ng-hide="field == 'id'" ng-options="k as v.title for (k, v) in dependencies[catalog_name][field]" class="form-control data_input"><option value="">Выберите значение</option></select><input type="text" data="{{field}}" ng-model="temp_add_row[field]" ng-hide="field == 'id'" ng-if="!dependencies[catalog_name][field]" class="form-control"/></td><td class="actions"><button ng-click="cancelAdding()" title="Отмена" data="cancel_btn" class="btn btn-default glyphicon glyphicon-ban-circle"></button><button ng-click="applyAdding()" title="Принять" data="apply_btn" class="btn btn-default glyphicon glyphicon-ok"></button></td></tr></table><button ng-show="catalog_name != null" ng-click="addRecord()" class="btn btn-default btn-success">Добавить</button></div></div></div></div></div>
