public/app/partials/main/last_modified_requests.jade
.panel.panel-primary
    .panel-heading.text-center Последние выполненные заявки
    .panel-body
        table.table.table-hover.table-condensed
            tr
                th  Номер
                th  Тип
                th  Клиент
                th  Время выполнения
            tr(ng-repeat="request in last_modified_requests")
                td
                    a(ng-click="openRequestModal(request.request_id)", data-toggle="modal", data-target="#request_modal") {{request.request_id}}
                td  {{request.request_type_title}}
                td  {{request.client_title}}
                td  {{request.finish_date}}

public/app/partials/main/last_modified_requests.html
<div class="panel panel-primary"><div class="panel-heading text-center">Последние выполненные заявки</div><div class="panel-body"><table class="table table-hover table-condensed"><tr><th> Номер</th><th> Тип</th><th> Клиент</th><th> Время выполнения</th></tr><tr ng-repeat="request in last_modified_requests"><td><a ng-click="openRequestModal(request.request_id)" data-toggle="modal" data-target="#request_modal">{{request.request_id}}</a></td><td> {{request.request_type_title}}</td><td> {{request.client_title}}</td><td> {{request.finish_date}}</td></tr></table></div></div>
