public/app/partials/main/main.jade
.container
    .jumbotron
        h1.text-center М-Сервис HelpDesk
.container(ng-if="identity.currentUser")
    .row.last_requests
        .col-md-6
            div(ng-include="'/public/app/partials/main/last_created_requests.html'")
        .col-md-6
            div(ng-include="'/public/app/partials/main/last_modified_requests.html'")
.container(ng-if="!identity.currentUser")
    .alert.alert-danger.text-center(role="alert") Чтобы пользоваться системой нужно ввести логин и пароль
div(ng-include="'/public/app/partials/requests/request_modal.html'")

public/app/partials/main/main.html
<div class="container"><div class="jumbotron"><h1 class="text-center">М-Сервис HelpDesk</h1></div></div><div ng-if="identity.currentUser" class="container"><div class="row last_requests"><div class="col-md-6"><div ng-include="'/public/app/partials/main/last_created_requests.html'"></div></div><div class="col-md-6"><div ng-include="'/public/app/partials/main/last_modified_requests.html'"></div></div></div></div><div ng-if="!identity.currentUser" class="container"><div role="alert" class="alert alert-danger text-center">Чтобы пользоваться системой нужно ввести логин и пароль</div></div><div ng-include="'/public/app/partials/requests/request_modal.html'"></div>
